@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background: #ccc;
  line-height: 1.4;
}

.accordion-body {
  margin: 200px auto;
  max-width: 900px;
  width: 100%;  
}

h1 {
  text-align: center;
  font-weight: 500;
  font-size: 2.2rem;
}

.accordion {
  width: 800px;
  margin: auto 90px;
  color: #000000;
  background-color: #fff;
  padding: 45px 45px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.accordion .container {
  position: relative;
  margin: 10px 10px;
}

.accordion .label {
  position: relative;
  padding: 10px 0;
  /* font-size: 30px; */
  color: #000000;
  cursor: pointer;
  font-size: 1.5rem;
}

.accordion .label::before {
  content: '+';
  color: #000000;
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 30px;
  transform: translateY(-50%);
}

.accordion .content {
  position: relative;
  background: #fff;
  height: 0;
  /* font-size: 2rem; */
  text-align: justify;
  width: 700px;
  overflow: hidden;
  transition: 0.5s;
  font-size: 1rem;
}

.accordion hr {
  width: 100;
  margin-left: 0;
  border: 1px solid #cecece;
}

.accordion .container.active .content {
  height: 150px;
}

.accordion .container.active .label::before {
  content: '-';
  font-size: 30px;
}

@media (max-width: 600px) {
  body {    
    text-align: left;
  }

  .accordion {
    width: 420px;
    padding: 30px 30px;
    border-radius: 8px;
  }

  .accordion-body {
    margin: 70px 5px;
    max-width: 550px;
    width: 50%;
  }

  h1 {    
    font-weight: 500;
    font-size: 1.4rem;
    text-align: left;
    margin-bottom: 20px;
  }

  .accordion .label {    
    font-size: 1.2rem;
  }

  .accordion .content {    
    width: 500px;    
    font-size: 1rem;
    width: 300px;
    overflow: hidden;
  }
}